<p>demo works!</p>

<div>

    <input type="text" placeholder="search for country ...." style="margin: 50px;">
    <button onclick="search()">search</button>

    <div>

        <div id="Algeria" class="card" style="width: 18rem;">
            <img src="./assets/image/IMG-20230620-WA0027.jpg" class="card-img-top" alt="..." style="object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
              <p class="card-text"><b>Polulation </b>:27657145</p>
              <p class="card-text"><b>region</b> :Asia</p>
              <p class="card-text"><b>capital </b>: kabul</p>
            </div>
          </div>
          

          <div id="Anguilla" class="card" style="width: 18rem;">
            <img src="./assets/image/IMG-20230620-WA0028.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Anguilla</h5>
              <p class="card-text"><b>Polulation </b>:27657145</p>
              <p class="card-text"><b>region</b> :Americas</p>
              <p class="card-text"><b>capital </b>: the valley</p>
            </div>
          </div>

          <div id="Angola" class="card" style="width: 18rem;">
            <img src="./assets/image/IMG-20230620-WA0029.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Angola</h5>
              <p class="card-text"><b>Polulation </b>:27657145</p>
              <p class="card-text"><b>region</b> :Aafrica</p>
              <p class="card-text"><b>capital </b>: luanda</p>
            </div>
          </div>

          <div id="Andorra" class="card" style="width: 18rem;">
            <img src="./assets/image/IMG-20230620-WA0030.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Andorra</h5>
              <p class="card-text"><b>Polulation </b>:27657145</p>
              <p class="card-text"><b>region</b> :europe</p>
              <p class="card-text"><b>capital </b>: andoraa la vella</p>
            </div>
          </div>

          <div id="America samoa" class="card" style="width: 18rem;">
            <img src="./assets/image/IMG-20230620-WA0031.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">America samoa</h5>
              <p class="card-text"><b>Polulation </b>:27657145</p>
              <p class="card-text"><b>region</b> :oceania</p>
              <p class="card-text"><b>capital </b>: pago pago</p>
            </div>
          </div>

          <div id="Albania" class="card" style="width: 18rem;">
            <img src="./assets/image/IMG-20230620-WA0032.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Albania</h5>
              <p class="card-text"><b>Polulation </b>:27657145</p>
              <p class="card-text"><b>region</b> :europe</p>
              <p class="card-text"><b>capital </b>: tirana</p>
            </div>
          </div>

          <div id="aland island" class="card" style="width: 18rem;">
            <img src="./assets/image/IMG-20230620-WA0033.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">aland island</h5>
              <p class="card-text"><b>Polulation </b>:27657145</p>
              <p class="card-text"><b>region</b> :Asia</p>
              <p class="card-text"><b>capital </b>: kabul</p>
            </div>
          </div>

          <div id="afghanistan" class="card" style="width: 18rem;">
            <img src="./assets/image/IMG-20230620-WA0034.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">afghanistan</h5>
              <p class="card-text"><b>Polulation </b>:27657145</p>
              <p class="card-text"><b>region</b> :Asia</p>
              <p class="card-text"><b>capital </b>: kabul</p>
            </div>
          </div>




    </div>



</div>


